name: Build

on:
  schedule:
    - cron: "38 * * * *"
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: lts

      - uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-deno-${{ hashFiles('deno.lock') }}
          path: |
            ~/.deno
            ~/.cache/deno

      - run: |
          SHA_VALUE="${{ github.sha }}"
          ACTION_VALUE="${{ github.job }}"
          TIME_VALUE=$(date +'%F %T %z')
          sed -i "s/SHA/${SHA_VALUE}/g" _site/index.html
          sed -i "s/ACTION/${ACTION_VALUE}/g" _site/index.html
          sed -i "s/TIME/${TIME_VALUE}/g" _site/index.html
      - run: deno run -A build.ts
      - uses: actions/upload-pages-artifact@v4
      - uses: actions/deploy-pages@v4
