name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: lts

      - name: Cache
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-deno-${{ hashFiles('deno.lock') }}
          path: |
            ~/.deno
            ~/.cache/deno

      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A
